@mixin background-image($url: "") {
    background: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin display-flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin modal() {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}
