@import "./variables";

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    font-size: 1.5rem;
}

hr {
    background-color: gray;
}
